{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}

    Welcome to the music store homepage!
    <br>

    <a href="/viewall">View all our stock </a>

    <br>

    <a href="/news">News</a>

    <br>

    <a href="/sales">Sales </a>

    <br>
{% endblock %}