{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}

        <br>
        <br>

        {% if app.request.get('error') is defined %}
                <h2 class="warning">{{ app.request.get('error') }}</h2>
        {% endif %}

        Welcome to the music store!
        <p>

        <a href="/login">Login</a><br>
        <a href="/register">Register</a><br>


        <a href="/viewall">View all our stock </a><br>
        <a href="/sales">Sales</a>

{% endblock %}