




{% if app.request.get('error') is defined %}
    <h2>{{ app.request.get('error') }}</h2>
{% endif %}



Login page
<p>

<form action="validatelogin" method="post">
Username <input type="text" name="username"> <br>
Username <input type="password" name="password"> <br>
<input type="submit"/>


</form>

