{% extends 'base.html.twig' %}

{% block title %}Hello NewsController!{% endblock %}

{% block body %}

    {% if app.request.get('error') is defined %}
        <h2>{{ app.request.get('error') }}</h2>
    {% endif %}

    Register page
    <p>

    <form action="registernew" method="post">
        Username <input type="text" name="username"> <br>
        Password <input type="password" name="password"> <br>
        <input type="submit" value="Register"/>

    </form>

{% endblock %}